<div class="author">
    <h1 class="author_heading">Hi, I'm ELijah</h1>
    <p class="author_body"> Web Developer and content creator</p>

</div>

<img src="/img/eli.jpg" alt="Elijah" class="main_image" width="" height="">

<section class="article">
    <h2 class="article_heading">Latest post</h2>

    <ul class="article-list">

        <li class="article-card">
            <a href="#"></a>
            <span class="article-title">Post Title</span>
            <span class="article-date"> Date</span>
        </li>
    </ul>

    <a href="#" class="pagination"> &lt; view Older posts</a>
</section>